*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#myCanvas{
    display: block;
    float: left;
    clear: both;
    position: relative;
    margin: 20px 20px 10px 20px
}

#menu{
    display: inline-block;
}

.Button1{
    padding: 20px;
    background-color: rgba(148, 215, 224, 0);
    border: none;
    color: black;
    text-shadow: 5px 5px 4px red;
    text-align: center;
    font-size: 20px;
    font-family: verdana;
    font-weight: bold;
    margin: 90px 0px 20px 8px;
    cursor: pointer;
}

#myBrush{
    background-image: url(images/brush.png);
    background-repeat: no-repeat;
    background-position: center;
}

#myEraser{
    background-image: url(images/eraser.png);
    background-repeat: no-repeat;
    background-position: center;
}

#myColor{
    margin: 90px 10px 20px 25px;
    height: 30px;
    width: 60px;
    cursor: pointer;
}

#myRange{
    margin: 90px 7px 20px 20px;
    opacity: 1;
    cursor: pointer;
}

.forInline{
    display: inline-block;
    font-size: 18px;
    font-family: verdana;
    color: black;
    text-shadow: 5px 5px 3px gray;
    font-weight: bold;
}

#myTextArea{
    display: none;
    position: absolute;
    left: 500px;
    top: 300px;
}

.Button2{
    margin: 20px 0px 20px 8px;
    padding: 20px;
    background-color: rgba(148, 215, 224, 0);
    border: none;
    color: black;
    text-shadow: 5px 5px 4px red;
    text-align: center;
    font-size: 20px;
    font-family: verdana;
    font-weight: bold;
    cursor: pointer;
}

#myText{
    background-image: url(images/text.png);
    background-repeat: no-repeat;
    background-position: center;
}

.Button3{
    margin: 20px 0px 20px 38px;
    background-color: rgba(148, 215, 224, 0.2);
    padding: 6px;
    border-left: 1px white solid;
    border-top: 1px white solid;
    border-right: 3px gray solid;
    border-bottom: 3px gray solid;
    border-radius: 9px;
    color: black;
    text-shadow: 5px 5px 4px red;
    text-align: center;
    font-size: 20px;
    font-family: verdana;
    font-weight: bold;
    cursor: pointer;
}

#mySelectSize{
    width: 100px;
    margin: 20px 0px 20px 25px;
}

#mySelectFamily{
    width: 200px;
    margin: 20px 0px 20px 25px;
}

#myCircle{
    background-image: url(images/circle.png);
    background-repeat: no-repeat;
    background-position: center;
}

#myRectangle{
    background-image: url(images/rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
}

#myTriangle{
    background-image: url(images/triangle.png);
    background-repeat: no-repeat;
    background-position: center;
}

#pImage{
    display: inline-block;
    font-size: 20px;
    font-family: verdana;
    color: black;
    text-shadow: 5px 5px 4px red;
    text-align: center;
    font-weight: bold;
    margin: 15px 0px 15px 28px;
}

#myImage{
    margin: 15px 0px 15px 28px;
    width: 260px;
    background-color: rgba(148, 215, 224, 0.2);
    padding: 6px;
    border-left: 1px white solid;
    border-top: 1px white solid;
    border-right: 3px gray solid;
    border-bottom: 3px gray solid;
    border-radius: 9px;
    text-align: center;
    font-size: 12px;
    font-family: verdana;
    font-weight: bold;
    cursor: pointer;
}

#myUndo{
    background-image: url(images/undo.png);
    background-repeat: no-repeat;
    background-position: center;
}

#myRedo{
    background-image: url(images/redo.png);
    background-repeat: no-repeat;
    background-position: center;
}

#myReset{
    margin: 20px 0px 20px 55px;
}

#mySave{
    margin: 40px 0px 20px 280px;
    text-shadow: 5px 0px 3px red;
}